<a href="https://colab.research.google.com/github/barauna-lo/Geographic_Databases/blob/main/FRB_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://datatofish.com/import-csv-sql-server-python/

https://www.elephantsql.com/docs/python.html

In [13]:
!wget "https://www.herta-experiment.org/frbstats/catalogue.csv"

--2022-06-19 14:47:10--  https://www.herta-experiment.org/frbstats/catalogue.csv
Resolving www.herta-experiment.org (www.herta-experiment.org)... 172.67.170.118, 104.21.95.143, 2606:4700:3037::ac43:aa76, ...
Connecting to www.herta-experiment.org (www.herta-experiment.org)|172.67.170.118|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 155683 (152K) [text/csv]
Saving to: ‘catalogue.csv’

catalogue.csv       100%[===================>] 152.03K  --.-KB/s    in 0.08s

2022-06-19 14:47:10 (1.92 MB/s) - ‘catalogue.csv’ saved [155683/155683]

In [14]:
import pandas as pd

data = pd.read_csv('catalogue.csv')   
df = pd.DataFrame(data)

In [1]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [7]:
import os
import urllib.parse as up
import psycopg2

up.uses_netloc.append("postgres")
url = up.urlparse("postgres://cofsvstc:nKmpKn8dwEQkrPFKrwERRB16xffi62oU@kesavan.db.elephantsql.com/cofsvstc")
conn = psycopg2.connect(database=url.path[1:],
user=url.username,
password=url.password,
host=url.hostname,
port=url.port
)
#https://stackoverflow.com/questions/41726499/connecting-elephantsql-with-python

In [8]:
create table data(Name varchar, Age bigint);

SyntaxError: ignored

In [ ]:
#https://www.geeksforgeeks.org/how-to-insert-a-pandas-dataframe-to-an-existing-postgresql-table/

In [15]:
import psycopg2
import numpy as np
import psycopg2.extras as extras
import pandas as pd
  
  
def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()
  
senha = "nKmpKn8dwEQkrPFKrwERRB16xffi62oU"  
# conn = psycopg2.connect(
#     database="FRB_SQL", user='postgres', password=senha, host='127.0.0.1', port='5432'
# )

connection = psycopg2.connect(database="gps_heatmap", user="postgres", password=senha, host="localhost", port=5433)




#df = pd.read_csv('fossilfuels.csv')
  
execute_values(conn, df, 'FRB')

OperationalError: ignored

In [16]:
#https://konbert.com/convert/csv/to/postgres?file_id=b2577d68-c190-4342-806b-a50221431b60