<a href="https://colab.research.google.com/github/barauna-lo/Geographic_Databases/blob/main/FRB_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://datatofish.com/import-csv-sql-server-python/

In [1]:
!wget "https://www.herta-experiment.org/frbstats/catalogue.csv"

--2022-06-18 20:48:58--  https://www.herta-experiment.org/frbstats/catalogue.csv
Resolving www.herta-experiment.org (www.herta-experiment.org)... 172.67.170.118, 104.21.95.143, 2606:4700:3037::ac43:aa76, ...
Connecting to www.herta-experiment.org (www.herta-experiment.org)|172.67.170.118|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 155683 (152K) [text/csv]
Saving to: ‘catalogue.csv’

catalogue.csv       100%[===================>] 152.03K  --.-KB/s    in 0.003s

2022-06-18 20:48:58 (43.5 MB/s) - ‘catalogue.csv’ saved [155683/155683]

In [2]:
import pandas as pd

data = pd.read_csv('catalogue.csv')   
df = pd.DataFrame(data)

               frb                  utc          mjd telescope            ra  \
0    FRB 20010125A   2001-01-25 0:29:16  51934.02032    Parkes      19:06:53
1    FRB 20010305A  2001-03-05 12:29:16  51973.52032    Parkes       4:57:20
2    FRB 20010312A  2001-03-12 11:06:48  51980.46306    Parkes       5:26:55
3    FRB 20010621A  2001-06-21 13:02:11  52081.54318    Parkes      18:52:05
4    FRB 20010724A  2001-07-24 19:50:02  52114.82641    Parkes       1:18:06
..             ...                  ...          ...       ...           ...
801  FRB 20210518A   2021-05-18 1:26:12  59352.05986       ATA    5:08:03.50
802  FRB 20210630A  2021-06-30 12:48:11  59395.53346    UTMOST  17:23:07.409
803  FRB 20220105A   2022-01-05 0:19:19  59584.01341     ASKAP    13:55:51.4
804  FRB 20220414A  2022-04-14 17:26:40  59683.72685   Tianlai      13:04:21
805  FRB 20220501C   2022-05-01 2:11:09  59700.09108     ASKAP      23:29:50

             dec       l      b frequency       dm   flux width fluence   snr  \
0      -40:37:14  356.64 -20.02         -   790.30   0.54     -       -     -
1      -52:36:25  260.07 -38.35      1374   350.00   0.42     9    3.78  10.2
2      -64:56:19  274.72 -33.30         -  1187.00   0.25     -       -     -
3       -8:29:35   25.43  -4.00         -   745.00   0.41     -       -     -
4      -75:12:18  300.65 -41.81         -   375.00     30     -       -     -
..           ...     ...    ...       ...      ...    ...   ...     ...   ...
801  +26:03:37.8  177.77  -8.52      1500   411.72     43   2.8     120    20
802  +7:51:41.85   29.94  23.19    835.55   943.70      -  29.7   60.14    10
803  +22:29:19.7   18.84  74.68    1632.5   583.00      -     -       -    10
804    +48:18:05  117.02  68.68     747.5   208.10  128.4   2.2     204  15.1
805    -32:27:00   11.26 -71.55     863.5   449.50      -     -      30  16.1

                                           reference redshift
0           https://www.wis-tns.org/object/20010125a   0.7083
1                   https://arxiv.org/abs/2004.04601    0.341
2           https://www.wis-tns.org/object/20010312a   1.0897
3           https://www.wis-tns.org/object/20010621a   0.4454
4           https://www.wis-tns.org/object/20010724a    0.369
..                                               ...      ...
801  https://www.astronomerstelegram.org/?read=14676   0.2456
802         https://www.wis-tns.org/object/20210630a   0.8631
803         https://www.wis-tns.org/object/20220105a   0.5724
804         https://www.wis-tns.org/object/20220414a   0.2169
805         https://www.wis-tns.org/object/20220501c   0.4558

[806 rows x 16 columns]

In [4]:
!pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.32.tar.gz (280 kB)
     |████████████████████████████████| 280 kB 17.0 MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.32-cp37-cp37m-linux_x86_64.whl size=287360 sha256=8d96d1237dccfbe29b22b4138f6c628ac859a2c2c4694acd31df5daeca53623e
  Stored in directory: /root/.cache/pip/wheels/2e/9c/da/8652fd42e0f662015554f00a9e96fe4f438dfd1ef59787879e
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32

In [3]:
import pyodbc

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=RON\SQLEXPRESS;'
                      'Database=test_database;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

ModuleNotFoundError: ignored